
body {
    font-family: Arial;
    background-image: url("images/backgrndimg.jpg");
}

.mainmenu {
    display: block;
    text-align: center;
    text-decoration: none;
    background-color: #333;
}

#HeaderImg {
    max-height: 2px;
    width: 100%;
}

.labelTxtboxSpacing {
    margin-right: 10px;
    
}

.active {
    
}

.breadcrumb {

}

a:link  {
    text-decoration: none;
}